GROUP_ID 10 - E-Health Care Facilities/Sem II/Implementation/EHC_Doctor/WebContent/wsdl/Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice" xmlns:intf="http://webservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="Operation">
    <complexType>
     <sequence>
      <element name="i" type="xsd:int"/>
      <element name="op" type="xsd:string"/>
      <element name="j" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="OperationResponse">
    <complexType>
     <sequence>
      <element name="OperationReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="OperationRequest">

      <wsdl:part element="impl:Operation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="OperationResponse">

      <wsdl:part element="impl:OperationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Service">

      <wsdl:operation name="Operation">

         <wsdl:input message="impl:OperationRequest" name="OperationRequest">

       </wsdl:input>

         <wsdl:output message="impl:OperationResponse" name="OperationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServiceSoapBinding" type="impl:Service">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="Operation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="OperationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="OperationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServiceService">

      <wsdl:port binding="impl:ServiceSoapBinding" name="Service">

         <wsdlsoap:address location="http://localhost:8080/EHC_Doctor/services/Service"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
